
@{
    Layout = null;
}


<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>大学生旅游资源共享-会员登录页</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/common.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="top_hw clearfix">
        <div class="top_h clearfix">
            <div class="top_hl"><span>欢迎来到大学生旅游资源共享平台，让你的梦想全程免费自由行！</span> 预定热线：<b>0579-63322269</b></div>
            <div class="top_hr"><a href="会员注册.html">会员注册</a>  |  <a href="会员登录.html">登录</a>  |  <a href="#">设为首页</a></div>
        </div>
    </div>
    <div class="b_wrap">
        <div class="current"><span>当前所在地：</span><a href="中国梦想游首页.html">首页</a>  >> <a href="会员登录.html">会员登录</a></div>
        <div class="login_w clearfix">
            <div class="login">
                <div class="login_t">会员登录</div>
                <div class="login_con">
                    <table class="login_tab" width="270" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>登录名：</td>
                            <td><input type="text" name="" value="" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>密&nbsp;&nbsp;&nbsp;&nbsp;码：</td>
                            <td><input type="text" name="" value="" placeholder=""></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="checkbox" name="" value=""> 30天内自动登录</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><a class="log_b" href="会员中心.html">登 录</a> <a class="back_m" href="#">找回密码</a></td>
                        </tr>
                    </table>
                </div>
                <div class="login_b">
                    <p>还不是会员？  <a class="free_zc" href="#">免费注册</a> </p>

                </div>
            </div>
        </div>
    </div>
    <div class="friend_w clearfix">
        <div class="friend clearfix">
            <dl class="friend_dl bg01">
                <dt><b>网站使用流程</b></dt>
                <dd><a href="#">网站使用流程</a></dd>
                <!--<dd><a href="#">网站预定流程</a></dd>-->
                <dd><a href="#">会员注册流程</a></dd>
                <!--<dd><a href="#">网站支付流程</a></dd>-->
            </dl>
            <dl class="friend_dl bg02">
                <dt><b>合作伙伴</b></dt>
                <dd><a href="#">加盟合作</a></dd>
                <dd><a href="#">广告合作</a></dd>
                <!--<dd><a href="#">运营合作</a></dd>
                <dd><a href="#">友情链接</a></dd>-->

            </dl>
            <dl class="friend_dl bg03">
                <dt><b>会员中心</b></dt>
                <dd><a href="#">会员注册/登录</a></dd>
                <dd><a href="#">帮助中心</a></dd>
                <!--<dd><a href="#">积分中心</a></dd>
                <dd><a href="#">支付中心</a></dd>-->
            </dl>
            <dl class="friend_dl bg04">
                <dt><b>公司简介</b></dt>
                <dd><a href="#">关于平台</a></dd>
                <dd><a href="#">加入平台</a></dd>
                <!--<dd><a href="#">公司动态</a></dd>
                <dd><a href="#">网站地图</a></dd>-->
            </dl>
            <dl class="friend_dl bg05">
                <dt><b>旅游查询</b></dt>
                <dd><a href="#">天气预报</a></dd>
                <dd><a href="#">路线查询</a></dd>
                <!--<dd><a href="#">电子地图</a></dd>
                <dd><a href="#">航班时刻</a></dd>-->
            </dl>
        </div>
    </div>
    <div class="footer_w">
        <div class="footer clearfix">
            <div class="footer_c">
                <p>地址：中国浙江省金华职业技术学院 &nbsp;| &nbsp;服务热线：0579-62332269 &nbsp; | &nbsp;传真：0579-62337233  备案号：0453-2xxxxxx</p>
                <p>Copyright © 2013 大学生旅游资源共享平台 All Rights Reserved. 技术支持：<a href="#"></a></p>
            </div>
            <div class="f_logo"><img src="images/b_logo1.jpg"></div>
        </div>
    </div>
</body>
</html>
