@{
    ViewBag.Title = "游记添加";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-member-add">
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>省：</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" value="" placeholder="" id="member-name" name="Province" datatype="*2-16" nullmsg="标题不能为空">
            </div>
            <div class="col-4"> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>市：</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" value="" placeholder="" id="member-name" name="city" datatype="*2-16" nullmsg="点赞数不能为空">
            </div>
            <div class="col-4"> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3">简介：</label>
            <div class="formControls col-5">
                @*<textarea name="intro" cols="" rows="" class="textarea" datatype="*0-100" dragonfly="true" nullmsg="简介不能为空！" onkeyup="textarealength(this, 100)"></textarea>*@
                <!-- 加载编辑器的容器 -->
                <script id="container" name="intro" type="text/plain">
                    这里写你的初始化内容
                </script>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
            </div>
            <div class="col-4"> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>标题：</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" value="" placeholder="" id="member-name" name="title" datatype="*2-16" nullmsg="标题不能为空">
            </div>
            <div class="col-4"> </div>
        </div>

        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>原价：</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" value="" placeholder="" id="member-name" name="PastPrice" datatype="*2-16" nullmsg="标题不能为空">
            </div>
            <div class="col-4"> </div>
        </div>

        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>折扣：</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" value="" placeholder="" id="member-name" name="discount" datatype="*1-16" nullmsg="折扣不能为空">
            </div>
            <div class="col-4"> </div>
        </div>

        <div class="row cl">
            <div class="col-9 col-offset-3">
                <input id="btnSave" class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</div>
@section FooterScript
{

<!-- 配置文件 -->
<script type="text/javascript"  src="~/js/UEditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="~/js/UEditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container');
</script>

    <script type="text/javascript">
        $(function () {
            $('.skin-minimal input').iCheck({
                checkboxClass: 'icheckbox-blue',
                radioClass: 'iradio-blue',
                increaseArea: '20%'
            });

            $("#form-member-add").Validform({
                tiptype: 2,
                callback: function (form) {
                    form[0].submit();
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.$('.btn-refresh').click();
                    parent.layer.close(index);
                }
            });

            $("#btnSave").click(saveAjax);
        });

        var saveAjax = function () {
            var formData = $("#form-member-add").serializeArray();
            $.ajax({
                url: "/Travel/Add",
                type: "post",
                data: formData,
                dataType: "json",
                success: function (res) {
                    if (res.status == "ok") {
                        //alert("ok");
                        parent.location.reload();
                    }
                    else {
                        alert("error");
                    }
                },
                error: function () { alert("出错"); }
            });
        };



    </script>
}
