@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "关于我们";
}

<style type="text/css">



    .mf_box {
        background: #fff;
        width: 1200px;
        margin: auto;
    }

    .pagination > li > a,
    .pagination > li > span {
        color: #999;
        cursor: pointer;
        background: #ffffff;
        background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 51%, #e1e1e1 51%, #f6f6f6 100%);
        background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 51%,#e1e1e1 51%,#f6f6f6 100%);
        background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 51%,#e1e1e1 51%,#f6f6f6 100%);
        border: 1px solid #ddd;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
    }

        .pagination > li > a:focus,
        .pagination > li > a:hover,
        .pagination > li > span:focus,
        .pagination > li > span:hover {
            color: #fff;
            background: #f3c5bd !important;
            background: -moz-linear-gradient(top, #f3c5bd 0%, #e86c57 51%, #ea2803 51%, #ff0000 75%, #c72200 100%) !important;
            background: -webkit-linear-gradient(top, #f3c5bd 0%,#e86c57 51%,#ea2803 51%,#ff0000 75%,#c72200 100%) !important;
            background: linear-gradient(to bottom, #f3c5bd 0%,#e86c57 51%,#ea2803 51%,#ff0000 75%,#c72200 100%) !important;
            border-color: #ddd;
        }

    li {
        float: left
    }

    .box {
        margin-left: 250px;
    }
</style>

<div>

    <h1 style="margin-left:500px">关于我们</h1>
    <div class="box">
        <p>大学生旅游资源共享创立于2006年10月，以“让旅游更简单”为使命，为消费者提供由北京、上海、广州、深圳等180个城市出发的旅游产品预订服务，产品全面，价格透明，全年365天24小时400电话预订，并提供丰富的后续服务和保障。</p></br>
        <p>目前，大学生旅游资源共享提供100万余种旅游产品供消费者选择，涵盖跟团、自助、自驾、邮轮、酒店、签证、景区门票以及公司旅游等，已成功服务累计超过1500万人次出游。</p></br>
        <p>同时基于大学生旅游资源共享网全球中文景点目录以及中文旅游社区，可以更好地帮助游客了解目的地信息，妥善制定好出游计划，并方便地预订旅程中的服务项目。</p></br>
    </div>
</div>
