@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "首页";
}

    <div class="pd-20" style="padding-top:20px;">
        <p class="f-20 text-success">欢迎使用 <span class="f-14">v1.0</span>后台管理</p>
        <p>登陆时间：@ViewBag.now </p>
        <p>欢迎来到后台管理系统</p>


    </div>
    <footer class="footer">
        <p>
            本后台系统由金华职业技术学院提供前端技术支持
        </p>
    </footer>

